{% extends "dashboard/base.html" %}
{% block content %}
        <p>&#1047;&#1076;&#1077;&#1089;&#1100; &#1086;&#1090;&#1086;&#1073;&#1088;&#1072;&#1078;&#1072;&#1077;&#1090;&#1089;&#1103;, &#1074;&#1099;&#1073;&#1088;&#1072;&#1085;&#1085;&#1086;&#1077; &#1042;&#1072;&#1084;&#1080; &#1089;&#1086;&#1073;&#1099;&#1090;&#1080;&#1077;</p>
        <p><a href="javascript:history.go(-1)">Назад</a></p>
        <p><b>&#1054;&#1073;&#1097;&#1072;&#1103; &#1080;&#1085;&#1092;&#1086;&#1088;&#1084;&#1072;&#1094;&#1080;&#1103; &#1086; &#1089;&#1086;&#1073;&#1099;&#1090;&#1080;&#1080;:</b></p>
             <table width=50%>
             <tr>
             <td width=25%>
             <p>{{ event.name }}</p>
             <p>&#1053;&#1072;&#1095;&#1072;&#1083;&#1086;:<b> {{ event.issued}}</b></p>
             <p>&#1054;&#1082;&#1086;&#1085;&#1095;&#1072;&#1085;&#1080;&#1077;:<b> {{ event.closed }}</b></p>
             <p>&#1052;&#1077;&#1089;&#1090;&#1086; &#1087;&#1088;&#1086;&#1074;&#1077;&#1076;&#1077;&#1085;&#1080;&#1103;:<b> {{ event.place }}</b></p>
             </td>
             <td width=25%>
             <p>&#1059;&#1095;&#1072;&#1089;&#1090;&#1085;&#1080;&#1082;&#1080;:<br>
                                         &#1041;&#1077;&#1079; &#1089;&#1082;&#1080;&#1076;&#1082;&#1080;: <b>{{ event.num_n }}</b><br>
                   &#1057;&#1086; &#1089;&#1082;&#1080;&#1076;&#1082;&#1086;&#1081; &#1087;&#1088;&#1080;&#1079;&#1077;&#1088;&#1072; &#1074;&#1089;&#1077;&#1088;&#1086;&#1089;&#1072;:<b> {{ event.num_pr_vs }}</b><br>
                   &#1057;&#1086; &#1089;&#1082;&#1080;&#1076;&#1082;&#1086;&#1081; &#1087;&#1086;&#1073;&#1077;&#1076;&#1080;&#1090;&#1077;&#1083;&#1103; &#1074;&#1089;&#1077;&#1088;&#1086;&#1089;&#1072;:<b> {{ event.num_po_vs }}</b><br>
                   &#1057;&#1086; &#1089;&#1082;&#1080;&#1076;&#1082;&#1086;&#1081; &#1091;&#1095;&#1072;&#1089;&#1090;&#1085;&#1080;&#1082;&#1072; &#1082;&#1086;&#1084;&#1072;&#1085;&#1076;&#1099; &#1052;&#1086;&#1089;&#1082;&#1074;&#1099;:<b> {{ event.num_ko_ms }}</b><br>
                   &#1053;&#1077; &#1086;&#1076;&#1086;&#1073;&#1088;&#1077;&#1085;&#1085;&#1099;&#1093; &#1079;&#1072;&#1103;&#1074;&#1086;&#1082;:<b> {{ event.num_req }}</b>
	     </p>
             </td>
             </tr>
             </table>
        <p>
	<b>&#1057;&#1087;&#1080;&#1089;&#1086;&#1082; &#1091;&#1095;&#1072;&#1089;&#1090;&#1085;&#1080;&#1082;&#1086;&#1074;:</b>
        </p>


        <table class="CSSTableGenerator">
        <tr>
                <td>
                Фамилия Имя Отчество
                </td>
		<td>
		Школа
		</td>
		<td>
		Город
		</td>
		<td>
		Дата рождения
		</td>
		<td>
		Одобрить/отказать
		</td>
        </tr>
                {% for each in event.requests.all %}
                    <tr>
                        <td>
			<a href="{% url 'view_profile' %}?uid={{ each.id_id }}">{{ each.last_name }} {{ each.first_name }} {{ each.middle_name }}</a>
			</td> 
			<td>
			{{ each.school }}
			</td>
			<td>
			{{ each.city }}
			</td>
			<td>
			{{ each.birthdate }}
			</td>
                        <td>
			<p><a href="{% url 'admin_events_main' %}/apply/{{ event.id }}/{{ each.id_id }}/0">Одобрить(полная стоимость)</a></p>
			<p><a href="{% url 'admin_events_main' %}/apply/{{ event.id }}/{{ each.id_id }}/1">Одобрить(призер всероса)</a></p>
			<p><a href="{% url 'admin_events_main' %}/apply/{{ event.id }}/{{ each.id_id }}/2">Одобрить(победитель всероса)</a></p>
			<p><a href="{% url 'admin_events_main' %}/apply/{{ event.id }}/{{ each.id_id }}/3">Одобрить(сборная Москвы)</a></p>
                  	<p><a href="{% url 'admin_events_main' %}/disapply/{{ event.id }}/{{ each.id_id }}">Отказать</a></p>
			</td>
		     </tr>
		{% endfor %}
		{% for each in event.participants_ko_ms.all %}
                    <tr>
                        <td>
			<a href="{% url 'view_profile' %}?uid={{ each.id_id }}">{{ each.last_name }} {{ each.first_name }} {{ each.middle_name }}</a>
                        </td>
                        <td>
                        {{ each.school }}
                        </td>
                        <td>
                        {{ each.city }}
                        </td>
                        <td>
                        {{ each.birthdate }}
                        </td>
                        <td> &#1054;&#1076;&#1086;&#1073;&#1088;&#1077;&#1085;, &#1089;&#1082;&#1080;&#1076;&#1082;&#1072; &#1095;&#1083;&#1077;&#1085;&#1072; &#1082;&#1086;&#1084;&#1072;&#1085;&#1076;&#1099; &#1052;&#1086;&#1089;&#1082;&#1074;&#1099; </td>
                     </tr>
                {% endfor %}
		{% for each in event.participants_po_vs.all %}
                    <tr>
                        <td>
			<a href="{% url 'view_profile' %}?uid={{ each.id_id }}">{{ each.last_name }} {{ each.first_name }} {{ each.middle_name }}</a>
                        </td>
                        <td>
                        {{ each.school }}
                        </td>
                        <td>
                        {{ each.city }}
                        </td>
                        <td>
                        {{ each.birthdate }}
                        </td>
                        <td> &#1054;&#1076;&#1086;&#1073;&#1088;&#1077;&#1085;, &#1089;&#1082;&#1080;&#1076;&#1082;&#1072; &#1087;&#1086;&#1073;&#1077;&#1076;&#1080;&#1090;&#1077;&#1083;&#1103; &#1074;&#1089;&#1077;&#1088;&#1086;&#1089;&#1072; </td>
                     </tr>
                {% endfor %}
		{% for each in event.participants_pr_vs.all %}
                    <tr>
                        <td>
                        <a href="{% url 'view_profile' %}?uid={{ each.id_id }}">{{ each.last_name }} {{ each.first_name }} {{ each.middle_name }}</a>
                        </td>
                        <td>
                        {{ each.school }}
                        </td>
                        <td>
                        {{ each.city }}
                        </td>
                        <td>
                        {{ each.birthdate }}
                        </td>
                        <td> &#1054;&#1076;&#1086;&#1073;&#1088;&#1077;&#1085;, &#1089;&#1082;&#1080;&#1076;&#1082;&#1072; &#1087;&#1088;&#1080;&#1079;&#1077;&#1088;&#1072; &#1074;&#1089;&#1077;&#1088;&#1086;&#1089;&#1072; </td>
                     </tr>
                {% endfor %}
		{% for each in event.participants_n.all %}
                    <tr>
                        <td>
                        <a href="{% url 'view_profile' %}?uid={{ each.id_id }}">{{ each.last_name }} {{ each.first_name }} {{ each.middle_name }}</a>
                        </td>
                        <td>
                        {{ each.school }}
                        </td>
                        <td>
                        {{ each.city }}
                        </td>
                        <td>
                        {{ each.birthdate }}
                        </td>
                        <td> &#1054;&#1076;&#1086;&#1073;&#1088;&#1077;&#1085; </td>
                     </tr>
                {% endfor %}
	</table>
{% endblock %}