{% extends "dashboard/base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
<plaintext>................00000000000
..............00,,,,,,,0,,,,,,00 
.............0,,,,,,,,,0,,,,,,,,,0 
............0,,,,,,,,,,0,,,,,,,,,,0 
...........0,,,,,,,,,,,0,,,,,,,,,,,0 
...........0,,,,,,,,,,,,,,,,,,,,,,,,0 
...........0,,,,,,,,,,,,,,,,,,,,,,,,0 
...........0,,,,,,,,,,,,,,,,,,,,,,,,0 
............0,,,,,,,,,,,,,,,,,,,,,0 
.............000000000000000 
.............0,,,,,,,,,,,,,,,,,,,0 
.............0,,,,,,,,,,,,,,,,,,,0 
.............0,,,,,,,,,,,,,,,,,,,0 
.............0,,,,,,,,,,,,,,,,,,,0 
.............0,,,,,,,,,,,,,,,,,,,0 
.............0,,,,,,,,,,,,,,,,,,,0 
.............0,,,,,,,,,,,,,,,,,,,0 
.............0,,,,,,,,,,,,,,,,,,,0 
.............0,,,,,,,,,,,,,,,,,,,0 
.............0,,,,,,,,,,,,,,,,,,,0 
.............0,,,,,,,,,,,,,,,,,,,0 
.............0,,,,,,,,,,,,,,,,,,,0 
.............0,,,,,,,,,,,,,,,,,,,0 
.............0,,,,,,,,,,,,,,,,,,,0 
.............0,,,,,,,,,,,,,,,,,,,0 
.........000,,,,,,,,,,,,,,,,,,,,,,000 
.......00,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,00 
......0,,,,,,,,,,,,,,,,,0,,,,,,,,,,,,,,,,0 
.....0,,,,,,,,,,,,,,,,,,,0,,,,,,,,,,,,,,,,0 
....0,,,,,,,,,,,,,,,,,,,,,0,,,,,,,,,,,,,,,,0 
...0,,,,,,,,,,,,,,,,,,,,,,0,,,,,,,,,,,,,,,,0 
...0,,,,,,,,,,,,,,,,,,,,,,0,,,,,,,,,,,,,,,,0 
...0,,,,,,,,,,,,,,,,,,,,,0,,,,,,,,,,,,,,,,0 
....0,,,,,,,,,,,,,,,,,,,0,,,,,,,,,,,,,,,,0 
.....0,,,,,,,,,,,,,,,,,0,,,,,,,,,,,,,,,0</plaintext>
{% endblock %}
