
{% extends "dashboard/base.html" %}
{% block content %}
	<p>
	&#1047;&#1076;&#1077;&#1089;&#1100; &#1086;&#1090;&#1086;&#1073;&#1088;&#1072;&#1078;&#1072;&#1102;&#1090;&#1090;&#1089;&#1103; &#1074;&#1089;&#1077; &#1076;&#1086;&#1089;&#1090;&#1091;&#1087;&#1085;&#1099;&#1077; &#1089;&#1086;&#1073;&#1099;&#1090;&#1080;&#1103;. &#1044;&#1083;&#1103; &#1087;&#1086;&#1076;&#1072;&#1095;&#1080; &#1079;&#1072;&#1103;&#1074;&#1082;&#1080; &#1085;&#1072; &#1089;&#1086;&#1073;&#1099;&#1090;&#1080;&#1077; &#1097;&#1077;&#1083;&#1082;&#1085;&#1080;&#1090;&#1077; "&#1055;&#1086;&#1076;&#1072;&#1090;&#1100; &#1079;&#1072;&#1103;&#1074;&#1082;&#1091;" &#1087;&#1086;&#1076; &#1089;&#1086;&#1086;&#1090;&#1074;&#1077;&#1090;&#1089;&#1090;&#1074;&#1091;&#1102;&#1097;&#1080;&#1084; &#1089;&#1086;&#1073;&#1099;&#1090;&#1080;&#1077;&#1084;
	</p>
	<p><a href="javascript:history.go(-1)">Назад</a></p>

	<table class="CSSTableGenerator">
	<tr>
		<td>
		<p>
		События:
		</p>
		</td>
	</tr>
		{% for each in events_other %}
                    <tr>
			<td>
                        <p>{{ each.name }}</p>
                        <p>{{ each.issued }}<br>{{ each.closed }}</p>
                        <p>&#1052;&#1077;&#1089;&#1090;&#1086; &#1087;&#1088;&#1086;&#1074;&#1077;&#1076;&#1077;&#1085;&#1080;&#1103;: {{ each.place }}</p>
                        <p>{{ each.comment|safe }}</p>
			<p><a href="{% url 'user_events_main' %}/request/{{ each.id }}">Подать заявку</a></p>
                        </td>
		    </tr>
		{% endfor %}
		{%for each in events_requested %}
		    <tr bgcolor="#FEFDC1">
			<td>
                        <p>{{ each.name }}</p>
                        <p>{{ each.issued }}<br>{{ each.closed }}</p>
                        <p>{{ each.place }}</p>
                        <p>{{ each.comment|safe }}</p>
			<p>Ваша заявка принята, чтобы отменить ее нажмите "Отменить заявку"</p>
			<p><a href="{% url 'user_events_main' %}/undo/{{ each.id }}">Отменить заявку</a></p>
                        </td>
		    </tr>
		{% endfor %}
		{% for each in events_applied %}
                    <tr bgcolor="#D0FEB7">
			<td>
                        <p>{{ each.name }}</p>
                        <p>{{ each.issued }}<br>{{ each.closed }}</p>
                        <p>{{ each.place }}</p>
                        <p>{{ each.comment|safe }}</p> 
                	<p>Ваша заявка одобрена, Вы приглашены на мероприятие</p>
                        </td>
		    </tr>
		{% endfor %}
	</table>
{% endblock %}