{% extends "dashboard/base.html" %}
{% block content %}
{% load staticfiles %}
	<p> Здесь Вы можете просмотреть профиль пользователя и мероприятия, в которых он участвовал</p>
      <table class="CSSTableGenerator">
       <tr> 
        <td>Аватар</td>
        <td>Имя</td>
        <td>Отчество</td>
        <td>Фамилия</td>
        <td>Дата рождения</td>
        <td>Город</td>
        <td>Школа</td>
        <td>Учитель физики</td>
	<td>Участвовал в мероприятиях</td>
        
       </tr>
        <tr> 
        <td><img src="{% static   user.avatar  %}" /></td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.middle_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.birthdate }}</td>
        <td>{{ user.city }}</td>
        <td>{{ user.school }}</td>
        <td>{{ user.phys_teacher_initial }}</td>
        <td>{% for each in events %}
		{{ each }}<br>
	    {% endfor %}
				</td>
       </tr>

      	
      </table>
    </form>

{% endblock %}
