{% extends "dashboard/base.html" %}
{% block content %}
{% load staticfiles %}
<form enctype="multipart/form-data"  method="post">
      {% csrf_token %}
      <table>
      	{% for field in form %}
        <div class="fieldWrapper">
                {{ field.errors }}
                <b>{{ field.label }}</b> 
                {% if  field.html_name  == 'avatar'  %} 
                <img src="{% static field.value %}" />
                {% endif %}  
                :{{ field }}              
        </div>
        {% endfor %}
        <tr>
          <td colspan="2">
            <input type="submit" name="login" value="Отправить измененные данные"/>
          </td>
        </tr>
      </table>
    </form>

{% endblock %}
