form {
   border: 0px solid #fcfcfc;
   background: #ffffff;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
   background: -webkit-linear-gradient(top, #ffffff, #ffffff);
   background: -moz-linear-gradient(top, #ffffff, #ffffff);
   background: -ms-linear-gradient(top, #ffffff, #ffffff);
   background: -o-linear-gradient(top, #ffffff, #ffffff);
   background-image: -ms-linear-gradient(top, #ffffff 0%, #ffffff 100%);
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
   text-decoration: none;
   vertical-align: middle;
   //min-width:300px;
   padding:20px;
   //width:300px;
   }


form select {
   border: 1px solid #ff0000;
   background: #ffffff;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   color: #c9b7a2;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   padding:8px;
   margin-bottom:20px;
   }
form input[type=file],form input[type=email], form input[type=image], form input[type=text], form input[type=hidden], form input[type=password] {
   border: 1px solid #ff0000;
   background: #ffffff;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   color: #786A6A;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   padding:8px;
   margin-bottom:20px;
   width:280px;
   }


form select:focus {
   background: #fff;
   color: #000000;
   }
form input:focus {
   background: #fff;
   color: #000000;
   }
form h2 {
   text-shadow: #f0e3d3 0 1px 0;
   font-size:18px;
   margin: 0 0 10px 0;
   font-weight:bold;
   text-align:center;
    }
form title {
   margin-bottom:10px;
   color: #000000;
   text-shadow: #f0e3d3 0 1px 0;
   }

form input[type=submit], form input[type=button]{
   border: 1px solid #eb0505;
   background: #f22727;
   background: -webkit-gradient(linear, left top, left bottom, from(#ff2e2e), to(#f22727));
   background: -webkit-linear-gradient(top, #ff2e2e, #f22727);
   background: -moz-linear-gradient(top, #ff2e2e, #f22727);
   background: -ms-linear-gradient(top, #ff2e2e, #f22727);
   background: -o-linear-gradient(top, #ff2e2e, #f22727);
   background-image: -ms-linear-gradient(top, #ff2e2e 0%, #f22727 100%);
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #ed6d6d 0 1px 0;
   color: #000000;
   font-family: helvetica, serif;
   padding: 8.5px 18px;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   }


form input[type=checkbox] {
   border: 1px solid #ff0000;
   background: #ffffff;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   color: #c9b7a2;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   padding:8px;
   margin-bottom:20px;
   }

form input[type=submit]:hover {
   border: 1px solid #ff0000;
   text-shadow: #eb6168 0 1px 0;
   background: #fc0505;
   background: -webkit-gradient(linear, left top, left bottom, from(#ff0505), to(#fc0505));
   background: -webkit-linear-gradient(top, #ff0505, #fc0505);
   background: -moz-linear-gradient(top, #ff0505, #fc0505);
   background: -ms-linear-gradient(top, #ff0505, #fc0505);
   background: -o-linear-gradient(top, #ff0505, #fc0505);
   background-image: -ms-linear-gradient(top, #ff0505 0%, #fc0505 100%);
   color: #fff;
   }
form input[type=submit]:active {
   text-shadow: #ff6363 0 1px 0;
   border: 1px solid #ff0000;
   background: #ff2b2b;
   background: -webkit-gradient(linear, left top, left bottom, from(#ff3636), to(#fc0505));
   background: -webkit-linear-gradient(top, #ff3636, #ff2b2b);
   background: -moz-linear-gradient(top, #ff3636, #ff2b2b);
   background: -ms-linear-gradient(top, #ff3636, #ff2b2b);
   background: -o-linear-gradient(top, #ff3636, #ff2b2b);
   background-image: -ms-linear-gradient(top, #ff3636 0%, #ff2b2b 100%);
   color: #fff;
   }
