{% extends "dashboard/base.html" %}
{% load staticfiles %}
<head>
</head>
{% load field_type %}
{% block title %}Создание запроса{% endblock %}
{% block content %}
<p>
<a href="javascript:history.go(-1)">Назад</a>
</p>
<form action ="{% url 'showdb' %}" class="form-container" method="POST">
	{% csrf_token %}
	{{ form.non_field_errors }}
	<div class="fieldWrapper">
		<p> Выбор города: </p>	
			
		        {{ form.cities.errors }}
			{{ form.cities }}
		
	</div>
	<p><input type="submit" value="Отобразить" /></p>
	</form>
{% endblock %}
